{% extends 'base.html' %}

{% block title %}
MusicWorld|Album-Details
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <img src="{{ album.album_logo.url }}" width="400" class="img-thumbnail" alt="{{ album.album_title }}">
        <h2>Album : {{ album.album_title }}</h2>
    </div>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <div class="col-md-6">
      {% for song in album.song_set.all %}
          <li class="list-group-item" styles="background-color: #E0FFFF">
          <div class="row">
              <div class="col-md-4">
                  <div class="">
                      <img class="img-thumbnail" width="150" src="{{ song.song_logo.url }}" alt="{{ song.artist }}">
                  </div>
              </div>
              <div class="col-md-8">
                <ul class="" style="list-style-type:none">
                  <li class=""><audio controls="controls">
                        <source src="{{ song.song_file.url }}" type="audio/mpeg" preload="none"/>
                     </audio></li>
                  <li class=""><h5>Song : {{ song.song_title }}</h5></li>
                  <li class=""><h5>Album : {{ song.album.album_title }}</h5></li>
                  <li class=""><h5>Genre : {{ song.album.genre }}</h5></li>
                  <li class=""><h5>Artist : {{ song.artist }}</h5></li>
                </ul>
              </div>
          </div>
          {% endfor %}
    </div>
</div>
{% endblock %}