{% extends 'base.html' %}

{% block title %}
MusicWorld|MyPlaylists
{% endblock %}

{% block body %}
<h3>Hi {{ user.username }} , Here are your Playlists </h3>
    <ul class="">
    {% for p in playlist %}
    <li class="list-group-item" styles="background-color: #333333">
        <div class="row">
            <div class="col-md-4">
                <h4>Playlist : {{ p.name }}</h4>
            </div>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <div class="col-md-8">
        <h4>List of Songs:</h4>
        <div class="col-md-8">
                <ul class="" style="list-style-type:none">
                  <li class=""><audio controls="controls">
                        <source src="{{ song.song_file.url }}" type="audio/mpeg" preload="none"/>
                     </audio></li>
                  <li class=""><h5>Song : {{ song.song_title }}</h5></li>
                  <li class=""><h5>Album : {{ song.album.album_title }}</h5></li>
                  <li class=""><h5>Genre : {{ song.album.genre }}</h5></li>
                  <li class=""><h5>Artist : {{ song.artist }}</h5></li>
                </ul>
        </div>
    </div>
        </div></li>
    {% endfor %}
    </ul>
{% endblock %}