{% extends 'base.html' %}
{% block title %}MusicWorld|Login{% endblock %}

{% block body %}
{% load socialaccount %}
<div class="container-fluid">
    <h3>You are not logged-in ! Please Login </h3>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'Music/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h4>Don't have account ?
        <a href="{% url 'registration' %}">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;Sign-Up
        </a>
        Or Login with
        <a href="{% provider_login_url 'google' %}">
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>&nbsp;Google
        </a>
    </h4>
</div>
{% endblock %}